* {
    margin: 0;
    box-sizing: border-box;
}

#main-container {
    padding: 2rem;
}

header {
    border: 1px solid #ffd6a5;
    display: flex;
    flex-direction: column;
    height: 7rem;
}

main {
    margin-top: 2.5rem;
    border: 1px solid #006d77;
}

#hrow-1 {
    padding: 0.3rem;
    flex-grow: 4;

    display: flex;
    flex-direction: row;
}

.hrow-1-item {
    flex: 1;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    border-radius: 1rem;
}

#hrow-1-item-3 {
    flex-grow: 6;
    flex-shrink: 10;
}

#hrow-2 {
    padding: 0.3rem;
    flex-grow: 3;
    display: flex;
    flex-direction: row;
}

.hrow-2-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48cae4;
    border-radius: 1rem;
}

#principal {
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    padding: 0.2rem;
    border: 1px solid white;
    flex-wrap: wrap;
}

.principal-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #a2d2ff;
    background-color: #ffadad;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 0.5rem;
}

#principal-item-esq {
    flex: 9;
    display: flex;
    flex-direction: column;
    min-width: 35rem;

    background-color: #ffb3ae;
    border: 1px solid white;
    border-radius: 1rem;
}

#principal-item-dir {
    flex: 8;
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    min-width: 30rem;
    min-height: 50vh;
}

.item-dir-column {
    flex: 1;
    background-color: #ffb3ae;
    border: 1px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-esq-row {
    background-color: #ffb3ae;
    border: 1px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-1-row-1 {
    flex-basis: 20rem;
}

#item-1-row-2 {
    flex-basis: 18rem;
}

#item-1-row-3 {
    flex-basis: 12rem;
}
